$billColor: #85bb65
$quarterColor: #d0d7d4
$dimeColor: #e8efec
$nickelColor: #b9bfbc
$pennyColor: #b87333
$noire: #1e1d24
// Change Machine
#changeMachineSubmit
	margin: 1vh 0 0 0

.changeMachineStats
	height: 15vh
	width: auto
	border: solid
	border-width: 2px
	border-color: $noire
	border-radius: 10px
	margin: 2vh 50vw 0 0
	background-color: white
// Money types
.bill
	width: 80px
	height: 35px
	border: solid
	border-width: 2px
	border-color: darken($billColor, 20%)
	border-radius: 2px
	background-color: $billColor
	margin: auto
	margin-top: 1vh
	padding: 7px 0 0 0

.quarter
	width: 45px
	height: 45px
	border: solid
	border-width: 2px
	border-color: darken($quarterColor, 20%)
	border-radius: 22.5px
	background-color: $quarterColor
	margin: auto
	margin-top: 1vh
	padding: 10px 0 0 0

.dime
	width: 35px
	height: 35px
	border: solid
	border-width: 2px
	border-color: darken($dimeColor, 20%)
	border-radius: 17.5px
	background-color: $dimeColor
	margin: auto
	margin-top: 1vh
	padding: 6px 0 0 0

.nickel
	width: 40px
	height: 40px
	border: solid
	border-width: 2px
	border-color: darken($nickelColor, 20%)
	border-radius: 20px
	background-color: $nickelColor
	margin: auto
	margin-top: 1vh
	padding: 8px 0 0 0

.penny
	width: 37px
	height: 37px
	border: solid
	border-width: 2px
	border-color: darken($pennyColor, 20%)
	border-radius: 18.5px
	background-color: $pennyColor
	margin: auto
	margin-top: 1vh
	padding: 7px 0 0 0
